<html>
    <head>
        <style>
            #content
            {
                min-height:600px;
                width:100%;
            }
        </style>
    </head>
    <body>
    <center>
        <h3>Currently Not available</h3>
        <p>This site Update right now..try sometime after</p>
        </center>
        
        <div id="content">
        </div>
    </body>
</html>